In [19]:
import pandas as pd
import numpy as np

# Load all study data

In [20]:
df_features = pd.read_csv('../dataset/fscore_features.csv')
df_features.columns = ['feature', 'fscore']

In [21]:
def get_data(limit=None):
    df = pd.read_csv('../dataset/df_results.csv')
    X = df.drop(columns=['gallstoneStatus', 'Unnamed: 0'])
    Y = df['gallstoneStatus']
    # filter by anova features fscore > 0.70
    X = X[df_features['feature']]
    
    return X, Y, df

In [22]:
# test 

X, Y, df = get_data()

# Load Lab Data

In [23]:
def get_data_lab(limit=None):
    df_lab = pd.read_csv('../dataset/df_lab.csv')
    df_lab = df_lab.drop(columns=['Unnamed: 0', 'height'])
    X = df_lab.drop(columns=['gallstoneStatus'])
    Y = df_lab['gallstoneStatus']

    return X, Y, df_lab

In [24]:
# test

X, Y, df_lab = get_data_lab()

In [25]:
df_lab

,vitaminD,reactiveProtein,hemoglobin,HDL,gender,ALP,creatinine,diabetes,hyperlipiidemia,AST,LDL,coroaryArtDisease,gallstoneStatus
0,33.0,0.0,16.0,40.0,0,87.0,0.82,0,0,20.0,175.0,0,0
1,25.0,0.0,14.4,43.0,0,46.0,0.87,0,0,14.0,108.0,0,0
2,30.2,0.0,16.2,43.0,0,66.0,1.25,0,0,18.0,124.0,0,0
3,35.4,0.0,15.4,59.0,0,34.0,1.02,0,0,20.0,73.0,0,0
4,40.6,0.0,16.8,30.0,0,71.0,0.82,0,0,27.0,154.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,8.3,6.2,16.5,55.0,0,90.0,0.98,0,0,28.0,113.0,0,1
315,24.0,0.0,12.5,58.0,1,38.0,0.50,0,0,24.0,99.0,0,1
316,15.7,0.0,15.4,45.0,0,94.0,1.04,0,0,21.0,153.0,0,1
317,33.3,0.4,16.0,33.0,1,115.0,1.01,0,0,40.0,159.0,0,1
318,29.0,0.0,13.6,273.0,1,73.0,0.85,0,0,25.0,155.0,0,1